html{
    font-family:"Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #EEEEEE;
}
h1{
    font-size:24px;
    line-height:26px;
    color: #f04c25;
    font-weight:600;
}
h2{
    font-size:18px;
    line-height:20px;
    color:#009cab;
    font-weight:normal;
}
p{
    font-size:14px;
    line-height:20px;
    color:#111111;
    font-weight:300;
    width:960px;
}
figure{
    float:left;
    margin: 0 20px 20px 0;
}
nav li{
        padding: 0px 0px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        margin: 0px 2px;
        cursor: pointer;
    }
nav a{
    background-color: brown;
    border-radius: 5px 5px 5px 5px;
    color: bisque;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    margin: 0px 2px;
}

.dropdown-content a{
    color: black;
    background-color: #EEEEEE;
    text-align: left;
    font-size: 15px;
    padding: 10px 10px;
    margin:0px 2px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown-content a:hover{
    background-color: burlywood;
}